# Folders
cmake-build-debug/
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS 2012
# ALL_BUILD.*
Client/x64/
x64/
*.opensdf
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Client.dir/
Client/Client.sdf
Client/Debug/
# Debug/
Client/Client.v11.suo
Client/Client.v16.suo
# ZERO_CHECK.*
